apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    server: "https://rancher.jtarball.co.uk/r/projects/1a750/kubernetes:6443"
  name: "featuretest"
contexts:
- context:
    cluster: "featuretest"
    user: "featuretest"
  name: "featuretest"
current-context: "featuretest"
users:
- name: "featuretest"
  user:
    token: "QmFzaWMgUkVReFJEQkRNa1U1TmtSQ1JEYzVPRGxDTVRBNmNUWXhlVk53U0c1Q1luQnRPRWR2Vm5wYWVVSnBPR3R0VFVoVmIxaG1NMnBTWm5OaFRIcHJWZz09"