apiVersion: v1
clusters:
- cluster:
    api-version: v1
    server: https://rancher.newtonsystems.co.uk/r/projects/1a7/kubernetes
  name: dev
- cluster:
    certificate-authority: /Users/danvir/.minikube/ca.crt
    server: https://192.168.99.100:8443
  name: minikube
contexts:
- context:
    cluster: dev
    user: dev
  name: dev
- context:
    cluster: minikube
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: dev
  user:
    password: WQ7549LGSDHzxrSRS4bNo9ZZcaY7RpcVfWzhgHst
    username: F0D5BEE2106291D7EAAF
- name: minikube
  user:
    client-certificate: /Users/danvir/.minikube/apiserver.crt
    client-key: /Users/danvir/.minikube/apiserver.key
