apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    server: "https://rancher.jtarball.co.uk/r/projects/1a14518/kubernetes:6443"
  name: "dev5"
contexts:
- context:
    cluster: "dev5"
    user: "dev5"
  name: "dev5"
current-context: "dev5"
users:
- name: "dev5"
  user:
    token: "QmFzaWMgTmpKRk1rSTNORGMwTWtWRU5EWkRNMEpHT0VFNmRIZDZUVTR5TVRJMGVtOUJSSEoxUmpVMmEzZGlRMnB2TTFaNllscExPV2R1UVZWRGRtaHVUQT09"